{
  "env": {
    "shared-node-browser": true,
    "commonjs": true,
    "jest": true
 },
  "plugins": [
    "es5"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:es5/no-es2015",
    "prettier"
  ],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }]
  }
}
